.img-carrossel {
    text-align: center;
    display: inline-block;
}

.esconder {
    display: none;
}

.img-display{
    border: solid #8911FA 5px;
    justify-content: space-evenly;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 10px;    
}

.desc{
    border: 5px solid #8911FA;
    position: relative;
    left: 20em;
    bottom: 330px;
    border-radius: 15px;
    display: inline-flex;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
}

.pc {
    font-size: 15px;
}

.orcamento {
    background-color: #8911FA;
    border-radius: 2px;
    border: none;
    text-align: center;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
}