.mainConteiner{
    border: 2px solid yellowgreen;
   
}

.produtosConteiner{
    border: 2px solid purple;
    margin: 15px;
    display: flex;
    flex-basis: 50%;
    flex:1;
    column-gap: 40px;
}

.box{
height: 150px;
width: 150px;
border: 2px solid red;
margin: 15px;
text-align: justify;



}

.cabeça{
    border: 3px solid blue;
}

.linha{
    justify-content: space-between;
    border: 2px solid orangered;
    justify-content: space-evenly;
    position: relative;
    right: 100px;
    height: 525px;
    
    
    
}

.linhaCadastro{

    border: 2px solid palevioletred;
    position: relative;
    
    width: 300px;
    justify-content: space-evenly;

}

.cadastros{
height: 300px;
width: 150px;
border: 10px solid black;
margin: 15px;
text-align: center;

}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

.diferencialEfoto{
    width: 250px;
    height: 300px;
    border: 3px solid crimson;
    position: relative;
    right: 850px;
    top: 650px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
}

.content{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: 10px;
    
    
}

.botao{
    background-color:rgb(173, 127, 173);
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: bolder;
  position: relative;
  top: 110px;
  right: 23px;
}