.cabeçalho {
    width: 100%;
    height: 100px;
   
    align-items: center;
    display: flex;
}

.img_logo {
    height: auto;
    width: auto;
    height: 100px;

}

.bt_cabeçalho {
    align-self: center;
    justify-content: space-evenly;
    margin-right: 30px;
}

.botoes {

    position: absolute;
    left: 70%;
    justify-content: space-between;
    padding: 10px;
}

.bt_cabeçalho {
    font-family: 'Poppins', sans-serif;
    border: 0px;
    background-color: white;
    font-weight: bolder;
}

.img_capa {
    width: auto;
    height: auto;
    height: 300px;
    width: 100%;
    margin-bottom: 200px;
}

.img_cap {
    width: auto;
    height: auto;
    height: 150%;
    width: 100%;
}

.corpo_1 {
    width: 100%;
    height: 500px;

    display: flex;

}

.corpoBox_1 {

    text-align: center;
    width: 50%;

    align-items: center;

}

.descricao_1 {
    font-weight: bold;
}

.sp_1 {
    font-weight: 1200;
    font-family: 'Poppins', sans-serif;
}

.corpoBox_2 {
    width: 50%;
    padding-top: 50px;

    justify-content: center;


}

.descricao_2 {
    text-align: center;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.descricao_3 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}

.descricao_4 {
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.sp_2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.descricao_5 {
    text-align: center;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.descricao_6 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.bt_orcamento {

    background-color: #8911FA;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bolder;

}

.corpo_2 {
    width: 100%;
    height: 500px;
    display: flex;

}

.frescura {
    background-color: #8911FA;
    width: 50%;
    text-align: center;
    height: 100%;
    display: flex;
    line-height: 35px;
    text-shadow: 2px 2px rgb(36, 1, 39);


}

#sla {
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.texto {

    text-align: center;
    padding-top: 50px;
    position: relative;
    width: 100%;

}

#copo {
    width: auto;
    height: auto;
    height: 500px;
    width: 76%;
    padding-left: 15px;

}



.display{
    display: flex;
    align-content: space-between;
    border: solid #8911FA 2px;
    background-color: white;
    height: 400px;
    justify-content: center;
    padding-top: 40px;
    justify-content: space-evenly;
    padding-left: 10px;
}
#img-display{
    border: solid #8911FA 5px;
    justify-content: space-evenly;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 10px;
    }





.corpo_3 {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-top: 15px;
}

.fundadores {
    width: auto;
    height: auto;

}

.nos {
    background-color: rgb(182, 170, 194);
    width: 100%;
    justify-content: center;
    display: flex;

}

#noses {
    padding-top: 200px;
    font-size: xx-large;
}

.rodape{
    width: 100%;
    height: 150px;
    background-color: rgb(217, 217, 217);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}

.caixa_1{
    
    width: 200px;
    height: 100%;
    justify-self: flex-start;
    justify-content: space-evenly;
   
}

.caixa_2{
    
    height: 100%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.caixa_3{
    
    height: 100%;
    width: 298px;
}

#icons{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

#razor_LTDA{
    padding-top: 50px;
}

#icon_razor{
    height: 40px;
    width: auto;
    
    display: flex;
    justify-content: center;
}

#razor3{
    width: 100px;
    height:100px;
}

.endr-razor{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.btn-ajuda{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#atd-razor{
    display: flex;
    padding-top: 50px;
}

#btns{
    display: flex;
    justify-content: center;
}

#crs-seta{
    color: black;
    width: 80px;
    height: 50px;
}

.btn-carrossel{
    border: 0;
    background-color: transparent;
}

#arrow-e{
position: relative;
right: 180px;
bottom: 200px;
}

#arrow-d{
position: relative;
left: 180px;
bottom: 200px;
}

.arrow-btn{
    border: 0;
    background-color: transparent;
    position: relative;
    top: 250px;
    right: 9em;
}