.cabeçalho {
    width: 100%;
    height: 100px;
   
    align-items: center;
    display: flex;
    background-color: black;
}

.img_logo {
    width: auto;
    height: 99px;
    margin-left: 50px;
    background-color:  rgb(111,22,241);

}

.botoes {

    position: absolute;
    left: 70%;
    justify-content: space-between;
    padding: 20px;
}

.bt_cabeçalho {
    font-family: 'Poppins', sans-serif;
    border: 0px;
    background-color: black;
    font-weight: bolder;
    color: white;
    border: 2px black solid;
    height: 35px;
    border-radius: 8px;
    align-self: center;
    justify-content: space-evenly;
    margin-right: 40px;
}

button:hover {
    background-color: rgb(111,22,241);
}


.img_capa {
    width: auto;
    height: auto;
    height: 300px;
    width: 100%;
    margin-bottom: 200px;
}

.img_cap {
    width: auto;
    height: auto;
    height: 150%;
    width: 100%;
}

.corpo_1 {
    justify-content: center;
    height: 50%;
    width: 80%;
    margin: 50px auto;
    display: flex;
    border: 2px solid purple;
    padding: 20px 0;
}

.corpoBox_1 {
    text-align: center;
    align-items: center;

}

.descricao_1 {
    font-weight: bold;
}

.sp_1 {
    font-weight: 1200;
    font-family: 'Poppins', sans-serif;
}

.corpoBox_2 {
    width: 50%;
    padding-top: 50px;

    justify-content: center;
    
    margin-left: 100px;
}

.descricao_2 {
    text-align: center;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.descricao_3 {
    text-align: center;
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
}

.descricao_4 {
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.sp_2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.descricao_5 {
    text-align: center;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.descricao_6 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.p-btn {
    text-align: center;
}

#orcamento-prodigy {
    background-color: #8911FA;
    border-radius: 2px;
    border: none;
    text-align: center;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px 20px;
}

.corpo_2 {
    width: 100%;
    height: 500px;
    display: flex;

}

.frescura {
    background-color: #8911FA;
    width: 50%;
    text-align: center;
    height: 100%;
    display: flex;
    line-height: 35px;
    text-shadow: 2px 2px rgb(36, 1, 39);


}

#sla {
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.texto {

    text-align: center;
    padding-top: 50px;
    position: relative;
    width: 100%;

}

#copo {
    width: auto;
    height: auto;
    height: 500px;
    width: 76%;
    padding-left: 15px;

}



.display{
    display: flex;
    align-content: space-between;
    border: solid #8911FA 2px;
    background-color: white;
    height: 400px;
    justify-content: center;
    padding-top: 40px;
    justify-content: space-evenly;
    padding-left: 10px;
}
#img-display{
    border: solid #8911FA 5px;
    justify-content: space-evenly;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: whitesmoke;
    padding: 10px;
    
    }





.corpo_3 {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-top: 15px;
}

.fundadores {
    width: auto;
    height: auto;

}

.nos {
    background-color: rgb(182, 170, 194);
    width: 100%;
    justify-content: center;
    display: flex;

}

#noses {
    padding-top: 200px;
    font-size: xx-large;
    position: relative;
}

.rodape{
    width: 100%;
    height: 100%;
    background-color: rgb(217, 217, 217);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.caixa_1{
    
    width: 200px;
    height: 100%;
    justify-self: flex-start;
    justify-content: space-evenly;
   
}

.caixa_2{
    
    height: 100%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.caixa_3{
    
    height: 100%;
    width: 298px;
}

#icons{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

#razor_LTDA{
    padding-top: 50px;
}

#icon_razor{
    height: 40px;
    width: auto;
    
    display: flex;
    justify-content: center;
}

#razor3{
    margin: 25px;
    width: 45px;
    height: 52px;
}

.endr-razor{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.btn-ajuda{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#atd-razor{
    display: flex;
    padding-top: 50px;
}

#btns{
    display: flex;
    justify-content: center;
}

#crs-seta{
    color: black;
    width: 80px;
    height: 50px;
}

.btn-carrossel{
    border: 0;
    background-color: transparent;
}

#arrow-e{
position: relative;
right: 440px;
bottom: 240px;
}

#arrow-d{
position: relative;
left: 420px;
bottom: 230px;
}

.arrow-btn{
    border: 0;
    background-color: transparent;
    position: relative;
    border-radius: 3px;
    transition: 0.2s;
}

.arrow-btn:hover {
    background-color: rgb(111,22,241);
}

.btn-exibir {
    font-size: 40px;
    color: #8911FA;
}

.texto-escondido {
    font-size: 0px;
    transition: 0.5s;
}

.img-carrossel{
   position: absolute;
   left: 30ex;
   width: 200px;
}

.desc{
    border: 5px solid #8911FA;
    position: relative;
    left: 40em;
   bottom: 330px;
   border-radius: 15px;
   display: flex;
    
    
  
}

.display-carrosel{
    width: auto;
}

/* css dos cards */

.card-equipe{
    width: 100%;
    
    height: 1678px;
    display: flex;
    flex-direction: row;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
  }
  
 
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 15px;
  }
  
  
  .container {
    padding: 0 16px;
    height: 300px;
  }
  
 
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }

 #cont-g{

    padding-top: 95px;
 }

 #img-gus{
    padding-top: 145px;
 }

 #img-w{
    padding-top: 18px;
 }

