.cont {
    justify-content: center;
}

.botoesCarrossel {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 0;
}

.display {
    display: flex;
    align-content: space-between;
    border: solid #8911FA 2px;
    background-color: white;
    height: 400px;
    padding-top: 40px;
    padding-left: 11rem; /* mexer nesse padding pra ajustar o alinhamento central? */
}